{% extends 'base.html' %}
{% load static %}

{% block title %}
    My Blog
{% endblock %}

{% block css_files %}
    <link rel="stylesheet" href="{% static 'blog/post.css' %}"/>
    <link rel="stylesheet" href="{% static 'blog/index.css' %}"/>
{% endblock  %}


{% block content %}
    <section id="welcome">
        <header>
            <img src="{% static 'blog/images/profile.jpg' %}" alt="Runyu - The author of this blog">
            <h2>RUNYU'S BLOG</h2>
        </header>
        <p>Hi, I am Runyu and I love to blog about tech and the world!</p>
    </section>

    <section id="latest-posts">
        <h2>My Latest Thoughts</h2>
        <ul>
            {% for post in posts %}
                {% include 'blog/includes/post.html' %}
            {% endfor %}
        </ul>
    </section>
{% endblock %}